[Main]
# set hutch (e.g. xpp)
hutch = cxi
# set experiment name (e.g. x23915)
exp_name = x28716
# set photon energy (keV)
energy = 7.0
live = False

[Processing]
# set ROI width
roi = 1000
# set downsampling amount (2^n)
downsample = 3
# zernike order
order = 32
xmin = 500
xmax = 1500
ymin = 500
ymax = 1500
lineout_width = 42
pad = 2

[Setup]
# set distance between grating and detector (m)
z0 = 0.175
# approximate distance to focus (m)
zf = 0.404
# pixel size (m)
pixel = 650.0e-9
# detector z motor name
det_z = det_z
# grating z motor name
grating_z = grating_z
# grating pitch (m)
pitch = 7.0e-6
# detector name
detName = zyla
# rotation of grating relative to detector
angle = 0

[Update]
update_events = 1
