[Main]
# set hutch (e.g. xpp)
hutch = cxi
# set experiment name (e.g. x23915)
exp_name = x28716
# set photon energy (keV)
energy = 7.0
# check whether using shared memory
live = False

[Processing]
# set ROI: [xmin,xmax,ymin,ymax]
xmin = 250
xmax = 500
ymin = 200
ymax = 650
# set padding amount (multiplicative factor)
pad = 2
lineout_width = 100

[Setup]
# set distance between grating and detector (m)
z0 = 1000
# approximate distance to focus (m)
zf = 1
# pixel size (m)
pixel = 1.625e-6
# detector z motor name
det_z = det_z
# grating z motor name
grating_z = grating_z
# grating pitch (m)
pitch = 9.6e-6
# detector name
detName = zyla
# rotation of grating relative to detector
angle = 0

[Update]
update_events = 1
